<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHN4agdGIYTRhd2KIpRsn_97RBdtSG7ZY</string>
	<key>GCM_SENDER_ID</key>
	<string>435514465112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robson.Macro</string>
	<key>PROJECT_ID</key>
	<string>aloong-40645</string>
	<key>STORAGE_BUCKET</key>
	<string>aloong-40645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435514465112:ios:6269cccc1a49e0cad8632d</string>
</dict>
</plist>